@font-face {
  font-family: 'pmzdbtt';  
  src: url('/static/font/PangMenZhengDaoBiaoTiTiSample.ttf');
}

.welcome {
  width: 100%;
  height: calc(100vh - var(--ifm-navbar-height));
  // background: linear-gradient(135deg,var(--ifm-color-primary-lightest) 0%, var(--ifm-color-primary) 76%);
  color: #fff;
  @media (max-width: 996px) {
    padding: 1rem;
  }
  

  &__content {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 2rem 0;
    position: relative;
  }

  &__title {
    font-size: 5rem;
    font-weight: 400;
    margin-bottom: 1rem;
    font-family: pmzdbtt;
    font-weight: normal;
    @media (max-width: 996px) {
      font-size: 3rem;
    }
  }

  &__subtitle {
    font-size: 1.5rem;
    font-weight: 400;
    margin-bottom: 1rem;
  }

  &__desc {
    font-size: 1rem;
    margin-bottom: 3rem;
    opacity: 0.85;
  }

  &__getstart {
    color: #fff;
  }

  &__scroll {
    position: absolute;
    left: 50%;
    font-size: 2rem;
    bottom: 0;
    animation: next-skip 0.5s ease 0s infinite alternate-reverse;
  }
}

@keyframes next-skip {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(-10px);
  }
}