.team {
  background-color: #f6f7f8;

  &__main {
    height: calc(100vh - var(--ifm-navbar-height));
    padding: 1rem 0;
  }

  &__title {
    color: #333;
    text-align: center;
    margin-bottom: 0.5rem;
  }

  &__item {
    margin-top: 0.5rem;
  }
}

.row {
  padding: 0 1rem;
}