/* Group 8 */

position: relative;
width: 1440px;
height: 3211px;



/* Navbar / 3 / */

box-sizing: border-box;

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 98.01%;

/* White */
background: #FFFFFF;


/* Rectangle 2 */

box-sizing: border-box;

position: absolute;
width: 98px;
height: 32px;
left: 1271px;
top: 16px;

background: #FFFFFF;
border: 1px solid #1E88E5;
border-radius: 2px;


/* 体验Demo */

position: absolute;
width: 65px;
height: 21px;
left: 1288px;
top: 21px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 150%;
/* identical to box height, or 21px */

color: #1E88E5;



/* 文档 */

position: absolute;
left: 61.32%;
right: 36.74%;
top: 34.38%;
bottom: 32.81%;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 150%;
/* identical to box height, or 21px */

/* Black */
color: #000000;



/* 首页 */

position: absolute;
left: 55.76%;
right: 42.29%;
top: 34.38%;
bottom: 32.81%;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 150%;
/* identical to box height, or 21px */

/* Black */
color: #000000;



/* 社群 */

position: absolute;
left: 72.43%;
right: 25.62%;
top: 34.38%;
bottom: 32.81%;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 150%;
/* identical to box height, or 21px */

/* Black */
color: #000000;



/* 博客 */

position: absolute;
left: 66.88%;
right: 31.18%;
top: 34.38%;
bottom: 32.81%;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 150%;
/* identical to box height, or 21px */

/* Black */
color: #000000;



/* Contact */

position: absolute;
left: 77.99%;
right: 18.61%;
top: 34.38%;
bottom: 32.81%;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 150%;
/* identical to box height, or 21px */

/* Black */
color: #000000;



/* Header / 36 / */

position: absolute;
left: 0%;
right: 0%;
top: 1.99%;
bottom: 78.08%;

/* White */
background: #FFFFFF;


/* 插画1 1 */

position: absolute;
width: 1440px;
height: 700px;
left: 0px;
top: -101px;



/* Frame 459 */

position: absolute;
width: 1440px;
height: 640px;
left: 0px;
top: 0px;



/* 云原生管理 1 */

position: absolute;
left: -15.56%;
right: -8.89%;
top: 0%;
bottom: 0%;

background: url(云原生管理.png);


/* Rectangle 7 */

position: absolute;
left: 39.51%;
right: 2.99%;
top: 21.41%;
bottom: 0%;

background: #F4F7F9;


/* 插画 2 */

position: absolute;
left: 46.67%;
right: 4.72%;
top: 25.31%;
bottom: 8.75%;

background: url(插画.png);


/* Button */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 12px 24px;
gap: 8px;

position: absolute;
width: 120px;
height: 40px;
left: 71px;
top: 467px;

background: #1E88E5;
border-radius: 2px;


/* Button */

width: 71px;
height: 24px;

/* Text/Regular/Normal */
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 150%;
/* identical to box height, or 24px */

/* White */
color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Logo / 1 / */

position: absolute;
left: 0%;
right: 0%;
top: 21.92%;
bottom: 69.76%;

background: #F4F7F9;


/* 合作伙伴 */

position: absolute;
width: 560px;
height: 27px;
left: 440px;
top: 80px;

/* Text/Medium/Bold */
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 150%;
/* identical to box height, or 27px */
text-align: center;

/* Black */
color: #000000;



/* Webflow / Black */

position: absolute;
width: 114px;
height: 28.68px;
left: 213px;
top: 144.75px;



/* Vector */

position: absolute;
left: 14.79%;
right: 77.29%;
top: 54.21%;
bottom: 35.05%;

background: #000000;


/* Relume / Black */

position: absolute;
width: 133.52px;
height: 35.87px;
left: 381.5px;
top: 141.5px;



/* Vector */

position: absolute;
left: 29.7%;
right: 69.27%;
top: 56.02%;
bottom: 37.06%;

background: #000000;


/* Vector */

position: absolute;
left: 30.73%;
right: 68.33%;
top: 57.76%;
bottom: 36.95%;

background: #000000;


/* Vector */

position: absolute;
left: 31.79%;
right: 67.95%;
top: 55.59%;
bottom: 37.06%;

background: #000000;


/* Vector */

position: absolute;
left: 32.23%;
right: 66.9%;
top: 57.88%;
bottom: 36.95%;

background: #000000;


/* Vector */

position: absolute;
left: 33.28%;
right: 65.29%;
top: 57.76%;
bottom: 37.06%;

background: #000000;


/* Vector */

position: absolute;
left: 34.83%;
right: 64.24%;
top: 57.76%;
bottom: 36.95%;

background: #000000;


/* Vector */

position: absolute;
left: 26.49%;
right: 71.26%;
top: 53%;
bottom: 33.57%;

background: #000000;


/* Webflow / Black */

position: absolute;
width: 114px;
height: 28.68px;
left: 569px;
top: 144.75px;



/* Vector */

position: absolute;
left: 39.51%;
right: 52.57%;
top: 54.21%;
bottom: 35.05%;

background: #000000;


/* Relume / Black */

position: absolute;
width: 133.52px;
height: 35.87px;
left: 737.5px;
top: 141.5px;



/* Vector */

position: absolute;
left: 54.42%;
right: 44.55%;
top: 56.02%;
bottom: 37.06%;

background: #000000;


/* Vector */

position: absolute;
left: 55.45%;
right: 43.61%;
top: 57.76%;
bottom: 36.95%;

background: #000000;


/* Vector */

position: absolute;
left: 56.52%;
right: 43.22%;
top: 55.59%;
bottom: 37.06%;

background: #000000;


/* Vector */

position: absolute;
left: 56.95%;
right: 42.17%;
top: 57.88%;
bottom: 36.95%;

background: #000000;


/* Vector */

position: absolute;
left: 58%;
right: 40.56%;
top: 57.76%;
bottom: 37.06%;

background: #000000;


/* Vector */

position: absolute;
left: 59.55%;
right: 39.51%;
top: 57.76%;
bottom: 36.95%;

background: #000000;


/* Vector */

position: absolute;
left: 51.22%;
right: 46.54%;
top: 53%;
bottom: 33.57%;

background: #000000;


/* Webflow / Black */

position: absolute;
width: 114px;
height: 28.68px;
left: 925px;
top: 144.75px;



/* Vector */

position: absolute;
left: 64.24%;
right: 27.85%;
top: 54.21%;
bottom: 35.05%;

background: #000000;


/* Relume / Black */

position: absolute;
width: 133.52px;
height: 35.87px;
left: 1093.5px;
top: 141.5px;



/* Vector */

position: absolute;
left: 79.14%;
right: 19.83%;
top: 56.02%;
bottom: 37.06%;

background: #000000;


/* Vector */

position: absolute;
left: 80.18%;
right: 18.88%;
top: 57.76%;
bottom: 36.95%;

background: #000000;


/* Vector */

position: absolute;
left: 81.24%;
right: 18.5%;
top: 55.59%;
bottom: 37.06%;

background: #000000;


/* Vector */

position: absolute;
left: 81.67%;
right: 17.45%;
top: 57.88%;
bottom: 36.95%;

background: #000000;


/* Vector */

position: absolute;
left: 82.73%;
right: 15.84%;
top: 57.76%;
bottom: 37.06%;

background: #000000;


/* Vector */

position: absolute;
left: 84.27%;
right: 14.79%;
top: 57.76%;
bottom: 36.95%;

background: #000000;


/* Vector */

position: absolute;
left: 75.94%;
right: 21.82%;
top: 53%;
bottom: 33.57%;

background: #000000;


/* 图层 1650 拷贝 1 */

position: absolute;
left: 1.88%;
right: -1.88%;
top: 9.44%;
bottom: 70.26%;



/* 🦆 icon "github" */

position: absolute;
left: 85.21%;
right: 13.4%;
top: 0.69%;
bottom: 98.71%;



/* Vector */

position: absolute;
left: 85.21%;
right: 13.4%;
top: 0.69%;
bottom: 98.71%;

background: #8B8B8B;


/* v1.23 */

position: absolute;
left: 16.39%;
right: 81.53%;
top: 0.84%;
bottom: 98.6%;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 150%;
/* identical to box height, or 18px */

color: #8B8B8B;



/* image 2 */

position: absolute;
left: 4.93%;
right: 85%;
top: 0.37%;
bottom: 98.38%;

background: url(image.png);


/* KubeGems 是一款开源的企业级多租户容器云平台。围绕云原生社区，KubeGems 提供了多Kubernetes 集群接入能力，并具备丰富的组件管理和资源成本分析功能，能够帮助企业快速的构建和打造一个本地化、功能强大且低成本的云管理平台。 */

position: absolute;
left: 4.93%;
right: 54.79%;
top: 12.52%;
bottom: 84.86%;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 200%;
/* or 28px */

/* Black */
color: #000000;



/* “更便捷”的云原生管理平台 */

position: absolute;
left: 4.93%;
right: 48.12%;
top: 8.94%;
bottom: 88.98%;

/* Heading/H1 */
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 56px;
line-height: 120%;
/* or 67px */

color: #FECA03;



/* Let cloudnative management more easily */

position: absolute;
left: 4.93%;
right: 21.6%;
top: 7.16%;
bottom: 91.65%;

font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 32px;
line-height: 120%;
/* or 38px */

color: #1E88E5;



/* Logo / 1 / */

position: absolute;
left: 0%;
right: 0%;
top: 30.24%;
bottom: 61.45%;

background: #F4F7F9;


/* Frame 461 */

position: absolute;
width: 742px;
height: 176px;
left: 0px;
top: -21px;



/* 组 48 1 */

position: absolute;
width: 1120px;
height: 132px;
left: -645px;
top: 22px;

background: url(组 48.png);


/* Frame 461 */

position: absolute;
width: 871px;
height: 176px;
left: 1153px;
top: 834px;



/* 核心功能 */

position: absolute;
width: 559px;
height: 58px;
left: 440px;
top: 95px;

/* Heading/H2 */
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 48px;
line-height: 120%;
/* identical to box height, or 58px */
text-align: center;

color: #1E88E5;



/* KubeGems已经在多个企业中全⾯落 地，稳定运⾏和⽀持⼤量核⼼业务，并将云 原⽣赋能到企业 */

position: absolute;
width: 768px;
height: 21px;
left: 336px;
top: 169px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 150%;
/* identical to box height, or 21px */
text-align: center;

/* Black */
color: #000000;



/* Header / 36 / */

position: absolute;
left: 0%;
right: 0%;
top: 38.55%;
bottom: 44%;

background: #F4F7F9;


/* 云原⽣⽣态 */

position: absolute;
width: 580px;
height: 58px;
left: 789px;
top: 184px;

font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 48px;
line-height: 120%;
/* identical to box height, or 58px */

/* Black */
color: #000000;



/* Cloud Native */

position: absolute;
width: 580px;
height: 38px;
left: 789px;
top: 137px;

font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 32px;
line-height: 120%;
/* or 38px */

color: #1E88E5;



/* 以插件的⽅式对云原⽣⽣态内应⽤实现即时插拔。内置丰富的应⽤市场、控制器和服务治理套件，实现对应⽤的⽣命周期、CI/CD和服务治理的全⾯控制 */

position: absolute;
width: 580px;
height: 56px;
left: 789px;
top: 269px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 200%;
/* or 28px */

/* Black */
color: #000000;



/* 查看详情 */

position: absolute;
width: 68px;
height: 21px;
left: 789px;
top: 352px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 150%;
/* identical to box height, or 21px */

color: #1E88E5;



/* Vector */

position: absolute;
left: 59.31%;
right: 39.64%;
top: 63.57%;
bottom: 34.52%;

background: #1E88E5;


/* 图层 4 1 */

position: absolute;
width: 612px;
height: 423px;
left: 105px;
top: 69px;



/* 云原生 1 */

position: absolute;
width: 647px;
height: 500px;
left: 82px;
top: 41px;



/* Frame 462 */

position: absolute;
width: 481px;
height: 151px;
left: 959px;
top: 452px;



/* 组 48 1 */

position: absolute;
width: 905px;
height: 132px;
left: -22px;
top: 19px;

background: url(组 48.png);


/* 23423 1 */

position: absolute;
width: 564px;
height: 405px;
left: 105px;
top: 77px;

background: url(23423.png);


/* Header / 36 / */

position: absolute;
left: 0%;
right: 0%;
top: 56%;
bottom: 26.56%;

background: #F4F7F9;


/* 可观测性 */

position: absolute;
width: 580px;
height: 58px;
left: 71px;
top: 213px;

font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 48px;
line-height: 120%;
/* identical to box height, or 58px */

/* Black */
color: #000000;



/* Observability */

position: absolute;
width: 580px;
height: 38px;
left: 71px;
top: 166px;

font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 32px;
line-height: 120%;
/* or 38px */

color: #1E88E5;



/* ⽀持多种开发语⾔ SDK 集成，兼容OpenTelemetry 协议。内置丰富的监控告警模版与订阅渠道，可满⾜企业多样化的监控系统可视化需求 */

position: absolute;
width: 580px;
height: 56px;
left: 71px;
top: 298px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 200%;
/* or 28px */

/* Black */
color: #000000;



/* 查看详情 */

position: absolute;
width: 68px;
height: 21px;
left: 71px;
top: 382px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 150%;
/* identical to box height, or 21px */

color: #1E88E5;



/* Vector */

position: absolute;
left: 9.65%;
right: 89.29%;
top: 69.11%;
bottom: 28.99%;

background: #1E88E5;


/* 组 531 1 */

position: absolute;
width: 598px;
height: 337px;
left: 698px;
top: 111px;

background: url(组 531.png);


/* Header / 36 / */

position: absolute;
left: 0%;
right: 0%;
top: 73.44%;
bottom: 9.12%;

background: #F4F7F9;


/* 图层 7 1 */

position: absolute;
width: 506px;
height: 447px;
left: 109px;
top: 78px;



/* 云边⼀体化 */

position: absolute;
width: 580px;
height: 58px;
left: 789px;
top: 208px;

font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 48px;
line-height: 120%;
/* identical to box height, or 58px */

/* Black */
color: #000000;



/* Cloud Edge */

position: absolute;
width: 580px;
height: 38px;
left: 789px;
top: 161px;

font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 32px;
line-height: 120%;
/* or 38px */

color: #1E88E5;



/* 联合 Rancher k3s 共同⽀持云边⼀体化管理。内置边缘设备的统⼀注册、认证流程，⽀持边缘应⽤异步批量化更新。可极⼤提⾼企业 IoT、边缘服务的控制效率 */

position: absolute;
width: 580px;
height: 56px;
left: 789px;
top: 293px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 200%;
/* or 28px */

/* Black */
color: #000000;



/* 查看详情 */

position: absolute;
width: 68px;
height: 21px;
left: 789px;
top: 377px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 150%;
/* identical to box height, or 21px */

color: #1E88E5;



/* Vector */

position: absolute;
left: 59.72%;
right: 39.22%;
top: 68.04%;
bottom: 30.06%;

background: #1E88E5;


/* Header / 36 / */

position: absolute;
left: 0%;
right: 0%;
top: 100%;
bottom: -100%;

background: #F4F7F9;


/* 应⽤、AI算法中⼼ */

position: absolute;
width: 580px;
height: 58px;
left: 71px;
top: 217px;

font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 48px;
line-height: 120%;
/* identical to box height, or 58px */

/* Black */
color: #000000;



/* AI */

position: absolute;
width: 580px;
height: 38px;
left: 71px;
top: 170px;

font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 32px;
line-height: 120%;
/* or 38px */

color: #1E88E5;



/* 内置应⽤和 AI 算法中⼼，可⼀键化在平台中运⾏，极⼤减⼩企业部署运⾏成本。依托应⽤与算法 商店，可在企业内部构建出 10k+ 应⽤和算法仓库，帮助企业在未来 AI 产业中快速布局与落地 */

position: absolute;
width: 580px;
height: 84px;
left: 71px;
top: 302px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 200%;
/* or 28px */

/* Black */
color: #000000;



/* 查看详情 */

position: absolute;
width: 68px;
height: 21px;
left: 71px;
top: 410px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 150%;
/* identical to box height, or 21px */

color: #1E88E5;



/* Vector */

position: absolute;
left: 9.31%;
right: 89.64%;
top: 74.11%;
bottom: 23.99%;

background: #1E88E5;


/* 组 68 1 */

position: absolute;
width: 555px;
height: 400px;
left: 778px;
top: 80px;

background: url(组 68.png);


/* 482428482 1 */

position: absolute;
width: 610px;
height: 379px;
left: 105px;
top: 90px;

background: url(482428482.png);


/* Testimonial / 28 / */

position: absolute;
width: 1440px;
height: 575px;
left: 0px;
top: 5034px;

background: #FFFFFF;


/* 核心团队 */

position: absolute;
width: 760px;
height: 58px;
left: 340px;
top: 94px;

/* Heading/H2 */
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 48px;
line-height: 120%;
/* identical to box height, or 58px */
text-align: center;

color: #1E88E5;



/* Button */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 12px;
gap: 8px;

position: absolute;
width: 36px;
height: 36px;
left: 1270px;
top: 479px;

border: 1px solid #4A4A4A;
border-radius: 50px;


/* Icon */

width: 24px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Vector */

position: absolute;
left: 16.67%;
right: 16.67%;
top: 16.67%;
bottom: 16.67%;

/* Black */
background: #000000;


/* Button */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 12px;
gap: 8px;

position: absolute;
width: 36px;
height: 36px;
left: 1335px;
top: 479px;

border: 1px solid #4A4A4A;
border-radius: 50px;


/* Icon */

width: 24px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Vector */

position: absolute;
left: 16.67%;
right: 16.67%;
top: 16.67%;
bottom: 16.67%;

/* Black */
background: #000000;


/* Slider Dots */

position: absolute;
width: 1300px;
height: 200px;
left: 71px;
top: 246px;



/* Dot */

position: absolute;
left: 4.93%;
right: 94.51%;
top: 72.7%;
bottom: 26.26%;

/* Black */
background: #000000;


/* Dot */

position: absolute;
left: 6.04%;
right: 93.4%;
top: 72.7%;
bottom: 26.26%;

/* Neutral/Gray */
background: #8D8D8D;


/* Dot */

position: absolute;
left: 7.15%;
right: 92.29%;
top: 72.7%;
bottom: 26.26%;

/* Neutral/Gray */
background: #8D8D8D;


/* Dot */

position: absolute;
left: 8.26%;
right: 91.18%;
top: 72.7%;
bottom: 26.26%;

/* Neutral/Gray */
background: #8D8D8D;


/* Dot */

position: absolute;
left: 9.38%;
right: 90.07%;
top: 72.7%;
bottom: 26.26%;

/* Neutral/Gray */
background: #8D8D8D;


/* Group 3 */

position: absolute;
width: 400px;
height: 200px;
left: 971px;
top: 246px;



/* Card */

box-sizing: border-box;

position: absolute;
width: 400px;
height: 200px;
left: 971px;
top: 246px;

background: #FFFFFF;
border: 1px solid #CCCCCC;
border-radius: 2px;


/* 国内某互联⽹上市公司基础架构核⼼研发，主攻MLOps ⽅向和开源推理框架，有丰富的研发经验 */

position: absolute;
width: 357px;
height: 42px;
left: 1003px;
top: 271px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 150%;
/* or 21px */

/* Black */
color: #000000;



/* Avatar Image */

position: absolute;
width: 48px;
height: 48px;
left: 1003px;
top: 372px;

background: url(12043478.jpg);


/* 邓宇(Yu Deng) */

position: absolute;
width: 91px;
height: 21px;
left: 1068px;
top: 376px;

font-family: 'Roboto';
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 150%;
/* identical to box height, or 21px */

/* Black */
color: #000000;



/* KubeGems 核⼼研发 */

position: absolute;
width: 110px;
height: 18px;
left: 1068px;
top: 398px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 150%;
/* identical to box height, or 18px */

/* Black */
color: #000000;



/* Group 4 */

position: absolute;
width: 400px;
height: 200px;
left: 521px;
top: 246px;



/* Card */

box-sizing: border-box;

position: absolute;
width: 400px;
height: 200px;
left: 521px;
top: 246px;

background: #FFFFFF;
border: 1px solid #CCCCCC;
border-radius: 2px;


/* 项⽬&产品经理，负责社区运营。国内⼈⼯智能独⻆兽公司⾼级经理。主导国内某互联⽹上市公司云平台系统研发与运营。 */

position: absolute;
width: 357px;
height: 63px;
left: 553px;
top: 271px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 150%;
/* or 21px */

/* Black */
color: #000000;



/* Avatar Image */

position: absolute;
width: 48px;
height: 48px;
left: 553px;
top: 372px;

background: url(2688646.jpg);


/* ⻢⻘(Link Ma) */

position: absolute;
width: 88px;
height: 21px;
left: 618px;
top: 376px;

font-family: 'Roboto';
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 150%;
/* identical to box height, or 21px */

/* Black */
color: #000000;



/* KubeGems 项⽬发起⼈ */

position: absolute;
width: 122px;
height: 18px;
left: 618px;
top: 398px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 150%;
/* identical to box height, or 18px */

/* Black */
color: #000000;



/* Group 5 */

position: absolute;
width: 400px;
height: 200px;
left: 71px;
top: 246px;



/* Card */

box-sizing: border-box;

position: absolute;
width: 400px;
height: 200px;
left: 71px;
top: 246px;

background: #FFFFFF;
border: 1px solid #CCCCCC;
border-radius: 2px;


/* Frame 3 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 10px;
gap: 10px;

position: absolute;
width: 377px;
height: 62px;
left: 93px;
top: 261px;



/* 国内⼈⼯智能独⻆兽公司⾼级技术总监。《Kubernetes 权威指南》、《企业级容器云架构实战开发指南》作者之⼀ */

width: 357px;
height: 42px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 150%;
/* or 21px */

/* Black */
color: #000000;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Avatar Image */

position: absolute;
width: 48px;
height: 48px;
left: 103px;
top: 372px;

background: url(3232817.png);


/* 王伟(Wayne Wang) */

position: absolute;
width: 119px;
height: 21px;
left: 168px;
top: 376px;

font-family: 'Roboto';
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 150%;
/* identical to box height, or 21px */

/* Black */
color: #000000;



/* ⾸席解决⽅案架构师 */

position: absolute;
width: 108px;
height: 18px;
left: 168px;
top: 398px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 150%;
/* identical to box height, or 18px */

/* Black */
color: #000000;



/* Footer / 7 / */

position: absolute;
width: 1440px;
height: 183px;
left: 0px;
top: 575px;

background: #FFFFFF;


/* Divider */

position: absolute;
width: 1440px;
height: 1px;
left: 0px;
top: 0px;

/* Black */
background: #000000;


/* Divider */

position: absolute;
width: 1440px;
height: 32px;
left: 0px;
top: 151px;

background: #FFFFFF;


/* let cloudnative management more easlly */

position: absolute;
width: 216px;
height: 18px;
left: 1152px;
top: 107px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 150%;
/* identical to box height, or 18px */

color: #4A4A4A;



/* Web：https://kubegems.io */

position: absolute;
width: 144px;
height: 18px;
left: 1152px;
top: 25px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 150%;
/* identical to box height, or 18px */

color: #4A4A4A;



/* Mail：support@kubegems.io */

position: absolute;
width: 156px;
height: 18px;
left: 1152px;
top: 45px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 150%;
/* identical to box height, or 18px */

color: #4A4A4A;



/* 更便捷的云原生管理平台 */

position: absolute;
width: 154px;
height: 21px;
left: 1152px;
top: 91px;

font-family: 'Roboto';
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 150%;
/* identical to box height, or 21px */

color: #4A4A4A;



/* image 25 */

position: absolute;
width: 106px;
height: 112px;
left: 1007px;
top: 20px;

background: url(image.png);


/* 文档 */

position: absolute;
width: 32px;
height: 24px;
left: 140px;
top: 100px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 150%;
/* identical to box height, or 24px */

color: #4A4A4A;



/* 首页 */

position: absolute;
width: 32px;
height: 24px;
left: 71px;
top: 100px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 150%;
/* identical to box height, or 24px */

color: #4A4A4A;



/* 博客 */

position: absolute;
width: 32px;
height: 24px;
left: 209px;
top: 100px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 150%;
/* identical to box height, or 24px */

color: #4A4A4A;



/* 社群 */

position: absolute;
width: 32px;
height: 24px;
left: 278px;
top: 100px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 150%;
/* identical to box height, or 24px */

color: #4A4A4A;



/* Contact */

position: absolute;
width: 56px;
height: 24px;
left: 347px;
top: 100px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 150%;
/* identical to box height, or 24px */

color: #4A4A4A;



/* Copyright © 2023 KubeGems.io . */

position: absolute;
width: 204px;
height: 21px;
left: 618px;
top: 156px;

/* Text/Small/Normal */
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 150%;
/* identical to box height, or 21px */

color: #818181;



/* image 2 */

position: absolute;
left: 4.93%;
right: 85%;
top: 10.93%;
bottom: 67.21%;

background: url(image.png);


/* Slider Dots */

position: absolute;
width: 72px;
height: 8px;
left: 71px;
top: 493px;



/* Dot */

position: absolute;
left: 4.93%;
right: 94.51%;
top: 85.74%;
bottom: 12.87%;

/* Black */
background: #000000;


/* Dot */

position: absolute;
left: 6.04%;
right: 93.4%;
top: 85.74%;
bottom: 12.87%;

background: #8D8D8D;


/* Dot */

position: absolute;
left: 7.15%;
right: 92.29%;
top: 85.74%;
bottom: 12.87%;

background: #8D8D8D;


/* Dot */

position: absolute;
left: 8.26%;
right: 91.18%;
top: 85.74%;
bottom: 12.87%;

background: #8D8D8D;


/* Dot */

position: absolute;
left: 9.38%;
right: 90.07%;
top: 85.74%;
bottom: 12.87%;

background: #8D8D8D;


/* Product / 7 / */

position: absolute;
width: 1440px;
height: 795px;
left: 0px;
top: 3478px;

background: #FFFFFF;


/* 客户增益 */

position: absolute;
width: 768px;
height: 58px;
left: 336px;
top: 86px;

/* Heading/H2 */
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 48px;
line-height: 120%;
/* identical to box height, or 58px */
text-align: center;

color: #1E88E5;



/* Group 4 */

position: absolute;
width: 360px;
height: 480px;
left: 70px;
top: 230px;



/* Rectangle 3 */

position: absolute;
width: 360px;
height: 480px;
left: 70px;
top: 230px;

background: #F4F7F9;
border-radius: 2px;


/* 生产保证 */

position: absolute;
width: 304px;
height: 27px;
left: 98px;
top: 490px;

/* Text/Medium/Semi Bold */
font-family: 'Roboto';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 150%;
/* identical to box height, or 27px */
text-align: center;

color: #1E88E5;



/* KubeGems 团队将为您提供企业级的⽣产环境落地技术⽀持，提供有保证的⽀持响应速度，全程协助客户在第⼀时间解决问题 */

position: absolute;
width: 300px;
height: 63px;
left: 100px;
top: 534px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 150%;
/* or 21px */

color: #515151;



/* 稳定版本的平滑升级，以及重⼤安全漏洞的及时更新 */

position: absolute;
width: 300px;
height: 42px;
left: 100px;
top: 614px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 150%;
/* or 21px */

color: #515151;



/* Group 7 */

position: absolute;
width: 360px;
height: 480px;
left: 540px;
top: 230px;



/* Rectangle 3 */

position: absolute;
width: 360px;
height: 480px;
left: 540px;
top: 230px;

background: #FFFFFF;
box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
border-radius: 2px;


/* 降低成本 */

position: absolute;
width: 300px;
height: 27px;
left: 570px;
top: 490px;

/* Text/Medium/Semi Bold */
font-family: 'Roboto';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 150%;
/* identical to box height, or 27px */
text-align: center;

color: #1E88E5;



/* 针对企业客户提供个性化定制的服务，不同于订阅或授权，您可以⾃有组装选择需要服务的类型 */

position: absolute;
width: 300px;
height: 42px;
left: 570px;
top: 528px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 150%;
/* or 21px */

color: #515151;



/* 智能推荐，根据云上资源运⾏状态智能推荐合理规划，帮助企业合理配置IT 基础设施 */

position: absolute;
width: 300px;
height: 42px;
left: 570px;
top: 584px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 150%;
/* or 21px */

color: #515151;



/* Rectangle 3 */

position: absolute;
width: 360px;
height: 480px;
left: 1011px;
top: 230px;

background: #F4F7F9;
border-radius: 2px;


/* Group 8 */

position: absolute;
width: 300px;
height: 165px;
left: 1041px;
top: 491px;



/* 增值服务 */

position: absolute;
width: 300px;
height: 27px;
left: 1041px;
top: 491px;

/* Text/Medium/Semi Bold */
font-family: 'Roboto';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 150%;
/* identical to box height, or 27px */
text-align: center;

color: #1E88E5;



/* 提供产品功能以外的特性和功能增强的更新，诸如 GPU设备⽀持、适配ARM架构、K8S 集群升级等 */

position: absolute;
width: 300px;
height: 63px;
left: 1041px;
top: 528px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 150%;
/* or 21px */

color: #515151;



/* 享有达闼商业软件服务，包含不限于： 达闼专属商业算法、达闼 IDoE（区块链）身份认证服务 */

position: absolute;
width: 300px;
height: 42px;
left: 1041px;
top: 614px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 150%;
/* or 21px */

color: #515151;



/* Testimonial / 28 / */

position: absolute;
width: 1440px;
height: 761px;
left: 0px;
top: 795px;

background: #F4F7F9;


/* Frame 457 */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-end;
padding: 0px;
gap: 24px;

position: absolute;
width: 676px;
height: 74px;
left: 689px;
top: 108px;



/* 他们如何评价KubeGems */

width: 676px;
height: 74px;

font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 62px;
line-height: 120%;
/* or 74px */
text-align: right;

color: #000000;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame 454 */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 0px;
gap: 28px;

position: absolute;
width: 328px;
height: 266.72px;
left: 107px;
top: 284.2px;



/* Ellipse 54 */

width: 163.72px;
height: 163.72px;

background: url(d6dcfaeb5bda3713fa2b6f790d512e63.jpg),
#D9D9D9;
border-radius: 100px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame 453 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 328px;
height: 75px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Emily D. */

width: 116px;
height: 48px;

font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 32px;
line-height: 150%;
/* identical to box height, or 48px */

/* Black */
color: #000000;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Interior Designer, Luxe Home Furnishings */

width: 328px;
height: 27px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 150%;
/* identical to box height, or 27px */

/* Black */
color: #000000;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Frame 436 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 10px;

position: absolute;
left: 7.43%;
right: 75.75%;
top: 81.21%;
bottom: 14.06%;



/* 01 */

width: 23px;
height: 36px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 150%;
/* identical to box height, or 36px */

color: #000000;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame 435 */

width: 129.74px;
height: 1px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Line 22 */

position: absolute;
width: 129.74px;
height: 0px;
left: 0px;
top: 0px;

opacity: 0.4;
border: 1px solid #000000;


/* Line 23 */

position: absolute;
width: 28.43px;
height: 0px;
left: 0px;
top: 3px;

border: 7px solid #1E88E5;


/* 04 */

width: 31px;
height: 36px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 150%;
/* identical to box height, or 36px */

color: #000000;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* Frame 440 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px 8px;
gap: 8px;

width: 28.43px;
height: 24.87px;


/* Inside auto layout */
flex: none;
order: 3;
flex-grow: 0;


/* Vector 96 */

width: 12.43px;
height: 24.87px;

border: 2px solid #000000;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame 456 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 24px;

position: absolute;
width: 698.3px;
height: 210px;
left: 624px;
top: 327.11px;



/* I absolutely love my new Chesterfield sofa from Cozy & Co Furniture! It's so comfortable and stylish, and it looks perfect in my living room. The staff at the store were so helpful and made the whole process a breeze. Thanks, Cozy & Co Furniture! */

width: 698.3px;
height: 210px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 28px;
line-height: 150%;
/* or 42px */

/* Black */
color: #000000;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* “ */

position: absolute;
width: 95px;
height: 332px;
left: 493.91px;
top: 267px;

font-family: 'Prata';
font-style: normal;
font-weight: 400;
font-size: 237px;
line-height: 140%;
/* identical to box height, or 332px */

color: #000000;

opacity: 0.2;


/* Frame 461 */

position: absolute;
width: 742px;
height: 176px;
left: 0px;
top: -45px;



/* 组 48 1 */

position: absolute;
width: 1120px;
height: 132px;
left: -645px;
top: 22px;

background: url(组 48.png);


/* Frame 462 */

position: absolute;
width: 481px;
height: 151px;
left: 959px;
top: 610px;



/* 组 48 1 */

position: absolute;
width: 905px;
height: 132px;
left: -22px;
top: 19px;

background: url(组 48.png);


/* “ */

position: absolute;
width: 95px;
height: 332px;
left: 1361px;
top: 717px;

font-family: 'Prata';
font-style: normal;
font-weight: 400;
font-size: 237px;
line-height: 140%;
/* identical to box height, or 332px */

color: #000000;

opacity: 0.2;
transform: rotate(-180deg);


/* Frame 461 */

position: absolute;
width: 360px;
height: 176px;
left: 70px;
top: 245px;



/* Frame 464 */

position: absolute;
width: 341px;
height: 161px;
left: 559px;
top: 269px;



/* 11 1111113 */

position: absolute;
width: 322px;
height: 198px;
left: 108px;
top: 256px;

background: url(11.png);


/* 22 1 */

position: absolute;
width: 330px;
height: 206px;
left: 570px;
top: 250px;

background: url(22.png);


/* 33 1 */

position: absolute;
width: 314px;
height: 191px;
left: 1057px;
top: 253px;

background: url(33.png);