.whykubegems2 {
  height: calc(100vh - var(--ifm-navbar-height));

  &__content {
    position: relative;
    height: 100%;
  }

  &__title {
    position: absolute;
    top: 5rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 9;
    font-size: 2rem;
    text-align: center;
  }
}

.banner {
  list-style: none;
  font-size: 0;
  white-space: nowrap;
  height: 100%;
  padding: 0;
  transition: all .5s;

  &__item {
    display: inline-block;
    font-size: 1rem;
    height: 100%;

    > img {
      height: 100%;
      width: 100%;   
    }
  }

  &__wrapper {
    position: relative;
    height: 100%;
  }

  &__viewbox {
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
  }

  &__indicator {
    list-style: none;
    position: absolute;
    z-index: 9;
    left: 50%;
    bottom: 2rem;
    transform: translateX(-50%);
    margin-bottom: 0;
    font-size: 1.25rem;
    text-shadow: 0 0 .5rem rgba(#000, 0.2);

    > li {
      display: inline-block;
      padding: 0.25rem 1rem;
      margin: 0 0.5rem;
      border-radius: var(--ifm-button-border-radius);
      transition: all .2s;
      cursor: pointer;

      &:hover,
      &.banner__indicator--active {
        background-color: rgba(#000, 0.85);
        font-weight: 600;
      }
    }
  }

  &__icon {
    position: absolute;
    z-index: 9;
    top: 50%;
    transform: translateY(-50%);
    font-size: 4rem;
    cursor: pointer;

    &--right {
      right: 3rem;
    }

    &--left {
      left: 3rem;
    }

    &--disabled {
      cursor: not-allowed;
      opacity: 0.2;
    }

    &:hover {
      text-shadow: 0 0 .5rem rgba(#fff, 0.5);
    }
  }
}