.home {
  height: calc(100vh - var(--ifm-navbar-height));
  background: url("/img/page/bg-r.png") no-repeat;
  position: relative;
  background-size: 100% 100%;
  background-attachment: fixed;

  &__login {
  
    &:hover + &__account {
      display: block;
    }

    &__account {
      display: none;
      position: absolute;
      right: 322px;
      top: 52px;
      background-color: #fff;
      padding: 0.4rem 0.5rem;
      border-radius: 0.4rem;
      box-shadow: 0 5px 40px rgba(0, 0, 0, .2);
      transition-duration: 200ms;
      transition-property: opacity, transform, visibility;
      transition-timing-function: cubic-bezier(0.08, 0.52, 0.52, 1);
      font-size: 0.9rem;

      &:hover {
        display: block;
      }
    }

    &__info {
      background-color: rgba(0, 0, 0, .05);
      padding: 0.3rem 0.5rem;
      border-radius: 0.2rem;
      margin: 0.3rem 0;
    }
  }

  @media (max-width: 996px) {
    height: auto;
  }

  &__img {
    margin-left: 2%;
    width: 90%;
    margin-top: 15%;

    @media (max-width: 996px) {
      margin-top: 5%;
    }
  }

  &__title {
    margin: 8%;
    margin-left: 15%;
    margin-right: 5%;
    margin-top: 32%;

    @media (max-width: 996px) {
      margin-top: 15%;
    }
  }

  &__subtitle {  
    font-family: 'kubegems';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 120%;
    /* or 38px */
  
    color: #1E88E5;
    margin-bottom: 50px;
  }

  &__fisrttitle {
    font-family: 'Microsoft YaHei';
    font-style: normal;
    font-weight: 700;
    font-size: 68px;
    line-height: 120%;
    /* or 67px */
  
    color: #000000;
    margin-bottom: 20px;
  }

  &__desc {  
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 200%;
    /* or 28px */
  
    /* Black */
    color: #000000;
    margin-bottom: 50px;
  }

  &__fontcolor {
    color: #000000;
  }

  &__video {
    margin-left: 80px;
    height: 90%;
    margin-top: 10px;
    background-image: url("/img/page/video_cover.jpg");

    background-repeat: round;
    position: relative;
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, .2),
      0 4px 5px 0 rgba(0, 0, 0, .14),
      0 1px 10px 0 rgba(0, 0, 0, .12);
    border-radius: 5px;
    cursor: pointer;

    @media (max-width: 996px) {
      height: 200px;
      margin-left: 0px;
      margin-top: 1rem;
    }
  }
}