.team {
  // height: calc(100vh - var(--ifm-navbar-height));
  background: url("/img/page/bg-r.png") no-repeat;
  position: relative;
  background-size: 100% 100%;
  background-attachment: fixed;
  margin-top: 30px;
  padding-bottom: 100px;

  @media (max-width: 996px) {
    height: auto;
  }

  &__main {
    height: calc(100vh - var(--ifm-navbar-height));
    padding: 5rem 0;
  }

  &__title {
    color: #333;
    text-align: center;
    margin-bottom: 2rem;
  }

  &__item {
    margin-top: 2rem;
  }

  &__subtitle {
    // font-family: 'kubegems';
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 120%;
    /* identical to box height, or 58px */
    text-align: center;

    color: #1E88E5;
    margin-top: 30px;
  }

  &__partner {
    margin-top: 80px;
    text-align: center;
    // font-family: 'kubegems';
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 150%;
    /* identical to box height, or 27px */
    text-align: center;

    /* Black */
    color: #1E88E5;

    margin-left: 100px;
    margin-right: 100px;

    @media (max-width: 996px) {
      margin-left: 10px;
      margin-right: 10px;
    }

    &__item {
      padding-left: 15px !important;
      padding-right: 15px !important;
      float: left;
      width: 212px;

      &__r {
        width: 152px;
      }

      &__t {
        margin-top: 20px !important;
      }

      &__img {
        max-height: 88px;
      }


      @media (max-width: 996px) {
        margin-left: 2%;
      }
    }
  }
}