.resources {
  height: calc(100vh - var(--ifm-navbar-height));

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    padding: 5rem 0;
  }

  &__title {
    margin-bottom: 2rem;
  }

  &__carousel {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 32rem;
  }
}