.documents {
  height: calc(100vh - var(--ifm-navbar-height));

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    padding: 5rem 0;
  }

  &__title {
    font-size: 2rem;
    margin-bottom: 3rem;
  }

  &__wrapper {
    display: flex;
  }

  &__item {
    background: linear-gradient(180deg, var(--ifm-color-primary-lighter), var(--ifm-color-primary));
    box-shadow: 0 8px 16px var(--ifm-color-primary-dark);
    transition: transform .3s cubic-bezier(.645,.045,.355,1),
                box-shadow .3s cubic-bezier(.645,.045,.355,1);
    position: relative;
    width: 20rem;
    height: 24rem;
    margin: 1rem auto;
    border-radius: 4px;
    transition: transform .5s;

    &:hover {
      transform: translateY(-0.5rem);
    }

    &-wrapper {
      list-style: none;
      padding: 0 4rem !important;
    }

    &-header {
      position: relative;
      padding: 48px 48px 0;
      text-align: center;

      > h3 {
        margin-bottom: 2rem;
      }

      > p {
        display: -webkit-box;
        height: 5rem;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 5;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }

    &-link {
      color: #fff;
      font-size: 90%;

      &:hover {
        color: #fff;
      }

      > i {
        position: relative;
        top: 1px;
        margin-left: 4px;
      }
    }
  }
}