.play {
  opacity: 0.3;
  background-color: rgb(33, 33, 33);
  border-color: rgb(33, 33, 33);
  position: absolute;
  z-index: 999;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  &__video {
    z-index: 1000;
    position: absolute;
    width: 869px;
    height: 489px;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 50%;

    &__media {
      width: 100%;
      height: 100%;
    }

    &__close {
      position: absolute;
      width: 30px;
      right: -12px;
      top: -12px;
      cursor: pointer;
      z-index: 1001;
    }
  }
}