name: build

on:
  push:
    branches:
      - "main"
    tags:
      - "v*.*.*"
    paths-ignore:
      [
        ".dockerignore",
        ".gitignore",
      ]
  pull_request:
    paths-ignore:
      [
        ".dockerignore",
        ".gitignore",
      ]

jobs:
  build:
    runs-on: ubuntu-18.04
    steps:
      - name: Checkout
        uses: actions/checkout@v2.3.3
      
      - name: Setup Node.js
        uses: actions/setup-node@v2
        with:
          node-version: '16'

      - name: Build dist
        run: yarn install && yarn build
      
      - name: Deploy to pages
        if: github.event_name != 'pull_request'
        uses: JamesIves/github-pages-deploy-action@v4.2.5
        with:
          branch: gh-pages
          folder: dist
